<div class="modal modal-xl fade"
     hx-swap-oob="true"
     tabindex="-1"
     id="modal""
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {% block title %}{% endblock %}
      </div>
      <div class="modal-body overflow-auto">
        {% block body %}{% endblock %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {% block close_button_text %}{{ tm("close") }}{% endblock %}
        </button>
      </div>
    </div>
  </div>
</div>
