django-debug-toolbar==4.4.4
django-extensions==3.2.3
django-phac_aspc-helpers==3.1.0
django-versionator==2.0.1
Django==5.0.6
Faker==15.1.1
gunicorn==22.0.0
ipython==8.10.0
Jinja2==3.1.4
psycopg2-binary==2.9.5
python-decouple==3.6
pytz==2024.1
rules==3.3
whitenoise==6.4.0
