{% extends "base.jinja2" %}

{% block content %}
  <h1>{{ tdt("Project list") }}</h1>
  <a href="{{ url("create_project") }}">{{ tdt("Create new project") }}</a>

  <ul>
    {% for project in object_list %}
      <li>
        <a hx-select-oob="#modal-mount-point"
           hx-swap="none"
           hx-get="{{ url('preview_project_modal', args=[project.id]) }}"
           href="#">{{ project.name }}</a>
      </li>
    {% endfor %}
  </ul>
 
{% endblock %}
