{% extends "modal_base.jinja2" %}
{% block title %}{{ tdt("Project preview") }}{% endblock %}
{% block body %}
  <h2>{{ object.name }}</h2>
  <table class="table">
    <tbody>
      <tr>
        <th>{{ tdt("description") }}</th>
        <td>{{ object.description }}</td>
      </tr>
      <tr>
        <td>{{ tdt("business ID") }}</td>
        <td>{{ object.business_key }}</td>
      </tr>
    </tbody>
  </table>
  <a href="{{ url('edit_project',args=[object.id]) }}"
     class="btn btn-primary">{{ tdt("Edit project") }}</a>
{% endblock %}
