{% extends "base.jinja2" %}
{% block content %}
  <h1>{{ tdt("Create project") }}</h1>
  <a href="{{ url('list_projects') }}" class="btn btn-warning">{{ tdt('Cancel') }}</a>

  <form method="post">
    {% include "_project_form.jinja2" %}

    <div class="text-end">
      <input class="btn btn-success btn-lg"
             type="submit"
             value="{{ tdt('Create') }}">
    </div>

  </form>

{% endblock %}
